.tdee-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  min-height: 100vh;
  /* Đảm bảo .App luôn bao phủ toàn bộ chiều cao màn hình */
  padding: 20px;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.form-container,
.description {
  width: 50%;
  /* Điều chỉnh chiều rộng form và description */
  max-width: 500px;
  /* Đảm bảo form và description không quá rộng */
  /* Các thuộc tính CSS còn lại giữ nguyên */
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  /* Màu chữ tiêu đề đậm hơn */
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
  /* Màu chữ label */
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.form-container input::placeholder {
  color: #999;
  /* Màu chữ placeholder */
}

.form-container select {
  -webkit-appearance: none;
  /* Ẩn mũi tên mặc định của select */
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'%3E%3Cpath fill='%23999' d='M6 6L0 1l1.4-1.4L6 3.4l4.4-4.3L12 1z'/%3E%3C/svg%3E") no-repeat;
  /* Thêm mũi tên custom */
  background-position: right 10px center;
  background-size: 10px;
  background-color: #fff;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #45a049;
}

.description {
  width: 45%;
  background-color: white;
  margin-left: 20px;
  /* Khoảng cách giữa form và description */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.description img {
  width: 180px;
  margin-bottom: 20px;
}

.description h2 {
  color: #333;
  margin-bottom: 15px;
}

.description p {
  line-height: 1.6;
  color: #555;
  margin-bottom: 12px;
}

.description strong {
  font-weight: bold;
}

.reset {
  padding: 10px 20px;
  margin: 15px 0;
}

.reset span {
  text-decoration: none;
  color: brown;
}

.reset span:hover {
  cursor: pointer;
  background-color: #ebe6e6;
  padding: 10px 20px;
  border-radius: 5px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Điều chỉnh độ mờ ở đây */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Đảm bảo overlay nằm trên các element khác */
}

.loading-spinner {
  color: #fff !important;
  /* Màu sắc của spinner */
}